# This ignores environment variables
database.env


README.md



#  This ignores Node.js modules
node_modules/  


*.bat
*.cmd
*.ps1
*.exe



# This ignores installation tools and binaries
corepack
install_tools
node
nodevars
npm
npx

# This ignores log files
*.log
.vscode/
.idea/

certificates/
assets/avatar/

