# This ignores environment variables
database.env

#  This ignores Node.js modules
node_modules/  

# This ignores installation tools and binaries
corepack
install_tools
node
nodevars
npm
npx

# This ignores log files
*.log


certificates/
assets/avatar/