<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Entertainment - Cyber IQ Connect</title>
    <link rel="stylesheet" href="../../styles/entertaiment/entertaiment.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
    />
    <link rel="stylesheet" href="../styles/layout/navbar.css" />
  </head>
  <header class="navbar">
    <div class="navbar-brand">Cyber IQ Connect</div>
    <nav class="navbar-links">
      <a href="/Home-Page.html"><i class="fa-solid fa-house"></i> Home</a>
      <a href="/account.html"
        ><i class="fa-solid fa-circle-user"></i> Account</a
      >
      <a href="/logout"
        ><i class="fa-solid fa-right-from-bracket"></i> Logout</a
      >
    </nav>
  </header>

  <body>
    <div class="grid">
      <div class="card">
        <img src="../../assets/movies/mr.robot.webp" alt="Mr. Robot Poster" />
        <div class="details">
          <h2>Mr. Robot</h2>
          <p><strong>Year:</strong> 2015–2019</p>
          <p><strong>Type:</strong> TV Series</p>
          <p><strong>Time:</strong> 4 Seasons</p>
          <p><strong>Director:</strong> Sam Esmail</p>
          <p><strong>Genre:</strong> Drama, Thriller</p>
          <p><strong>Grade:</strong> A</p>
          <p class="desc">
            Follows a cybersecurity engineer turned vigilante hacker.
            Technically accurate and deep psychological themes.
          </p>
        </div>
      </div>

      <div class="card">
        <img
          src="../../assets/movies/hacking-at-leaves.jfif"
          alt="Hacking at Leaves Poster"
        />
        <div class="details">
          <h2>Hacking at Leaves</h2>
          <p><strong>Year:</strong> 2024</p>
          <p><strong>Type:</strong> DOC</p>
          <p><strong>Time:</strong> 1h 30min</p>
          <p><strong>Director:</strong> Manu Luksch</p>
          <p><strong>Genre:</strong> Documentary</p>
          <p><strong>Grade:</strong> B</p>
          <p class="desc">
            An Austrian documentary connecting U.S. colonial history, Navajo
            tribal culture, and the hacker movement during COVID-19.
          </p>
        </div>
      </div>

      <div class="card">
        <img
          src="../../assets/movies/billion-dolalr-heist.jfif"
          alt="Billion Dollar Heist Poster"
        />
        <div class="details">
          <h2>Billion Dollar Heist</h2>
          <p><strong>Year:</strong> 2023</p>
          <p><strong>Type:</strong> DOC</p>
          <p><strong>Time:</strong> 1h 24min</p>
          <p><strong>Director:</strong> Daniel Gordon</p>
          <p><strong>Genre:</strong> Documentary</p>
          <p><strong>Grade:</strong> B+</p>
          <p class="desc">
            Explores the 2016 Bangladesh Bank robbery, one of the largest
            cybercrimes in history.
          </p>
        </div>
      </div>

      <div class="card">
        <img
          src="../../assets/movies/cyber-heist.jfif"
          alt="Cyber Heist Poster"
        />
        <div class="details">
          <h2>Cyber Heist</h2>
          <p><strong>Year:</strong> 2023</p>
          <p><strong>Type:</strong> Movie</p>
          <p><strong>Time:</strong> 1h 51min</p>
          <p><strong>Director:</strong> Wong Hing-fan</p>
          <p><strong>Genre:</strong> Action, Thriller</p>
          <p><strong>Grade:</strong> B</p>
          <p class="desc">
            A cybersecurity engineer develops an AI to disable Hong Kong's
            networks, leading to intense cyber battles.
          </p>
        </div>
      </div>

      <div class="card">
        <img
          src="../../assets/movies/the-great-hack.png"
          alt="The Great Hack Poster"
        />
        <div class="details">
          <h2>The Great Hack</h2>
          <p><strong>Year:</strong> 2019</p>
          <p><strong>Type:</strong> DOC</p>
          <p><strong>Time:</strong> 1h 54min</p>
          <p><strong>Director:</strong> Karim Amer, Jehane Noujaim</p>
          <p><strong>Genre:</strong> Documentary</p>
          <p><strong>Grade:</strong> A</p>
          <p class="desc">
            Investigates the Facebook–Cambridge Analytica scandal and the use of
            data in global political elections.
          </p>
        </div>
      </div>

      <div class="card">
        <img src="../../assets/movies/snowden.jfif" alt="Snowden Poster" />
        <div class="details">
          <h2>Snowden</h2>
          <p><strong>Year:</strong> 2016</p>
          <p><strong>Type:</strong> Movie</p>
          <p><strong>Time:</strong> 2h 14min</p>
          <p><strong>Director:</strong> Oliver Stone</p>
          <p><strong>Genre:</strong> Biography, Drama</p>
          <p><strong>Grade:</strong> A-</p>
          <p class="desc">
            Biographical thriller on Edward Snowden, who leaked classified NSA
            surveillance information.
          </p>
        </div>
      </div>

      <div class="card">
        <img src="../../assets/movies/it.jfif" alt="I.T. Poster" />
        <div class="details">
          <h2>I.T.</h2>
          <p><strong>Year:</strong> 2016</p>
          <p><strong>Type:</strong> Movie</p>
          <p><strong>Time:</strong> 1h 35min</p>
          <p><strong>Director:</strong> John Moore</p>
          <p><strong>Genre:</strong> Thriller</p>
          <p><strong>Grade:</strong> B-</p>
          <p class="desc">
            A businessman’s life is digitally sabotaged by a vengeful IT
            consultant through smart home tech.
          </p>
        </div>
      </div>

      <div class="card">
        <img
          src="../../assets/movies/fifth-estate-poster.jfif"
          alt="The Fifth Estate Poster"
        />
        <div class="details">
          <h2>The Fifth Estate</h2>
          <p><strong>Year:</strong> 2015</p>
          <p><strong>Type:</strong> Movie</p>
          <p><strong>Time:</strong> 2h 8min</p>
          <p><strong>Director:</strong> Bill Condon</p>
          <p><strong>Genre:</strong> Biography, Drama</p>
          <p><strong>Grade:</strong> B</p>
          <p class="desc">
            Drama based on the story of WikiLeaks and Julian Assange, exploring
            data transparency ethics.
          </p>
        </div>
      </div>

      <div class="card">
        <img src="../../assets/movies/deep-web.jpg" alt="Deep Web Poster" />
        <div class="details">
          <h2>Deep Web</h2>
          <p><strong>Year:</strong> 2015</p>
          <p><strong>Type:</strong> DOC</p>
          <p><strong>Time:</strong> 1h 30min</p>
          <p><strong>Director:</strong> Alex Winter</p>
          <p><strong>Genre:</strong> Documentary</p>
          <p><strong>Grade:</strong> B+</p>
          <p class="desc">
            Explores the Silk Road darknet market and themes of privacy,
            cryptocurrency, and digital freedom.
          </p>
        </div>
      </div>

      <div class="card">
        <img
          src="../../assets/movies/ex-machina.jfif"
          alt="Ex Machina Poster"
        />
        <div class="details">
          <h2>Ex Machina</h2>
          <p><strong>Year:</strong> 2014</p>
          <p><strong>Type:</strong> Movie</p>
          <p><strong>Time:</strong> 1h 48min</p>
          <p><strong>Director:</strong> Alex Garland</p>
          <p><strong>Genre:</strong> Sci-Fi, Drama</p>
          <p><strong>Grade:</strong> A</p>
          <p class="desc">
            A programmer is invited to test a humanoid AI's consciousness,
            questioning identity and manipulation.
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
